h2,h3 {
    font-family: 'Bungee Spice', cursive;
}

p {
    font-family: 'PT Serif', serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("images/rafting111.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-title {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 80%;
    max-width: 900px;
}


.hero-title h1 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    font-size: 4em;
    color: #fff;
    font-family: 'Bungee Spice', cursive;
    margin: 0;
    border-radius: 5px; 
}

.text-box {
    position: absolute;
    right: 25%;
    top: 50%;
    width: 35%; 
    background-color: rgba(62, 235, 114, 0.235); 
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    text-align: center;
    height: auto; 
}

.smile-img {
    width: 100%;
    max-width: 150px; 
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

h1 {
    color: #fff; 
    font-family: 'Bungee Spice', cursive;
    font-size: 4em;
    margin: 0;
    padding: 0;

}


.text-box p {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}


footer .sociallinks img {
    width: 30px;
    height: auto;
    margin: 0 10px;
}